html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  background-color: white;
  color: #666;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

#site {
  height: 100%;
}

.title {
  text-align: center;
  margin: 0;
  padding-bottom: 2em;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  box-sizing: border-box;
}

.content {
  max-width: 700px;
  width: 100%;
}

.game {
  margin: auto;
  font-size: 1.5em;
}
